/* COLOR VARIABLES */
/* NEUTRAL COLORS */
/* BORDER RADIUS */
/* MARGIN BOTTOM */
/* BOX SHADOW */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (min-width: 100em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 89em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 57em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 28em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.heading--primary {
  font-size: 5.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
@media (max-width: 72em) {
  .heading--primary {
    font-size: 4.8rem;
  }
}
@media (max-width: 22em) {
  .heading--primary {
    font-size: 4.2rem;
  }
}
.heading--secondary {
  font-size: 4.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.hidden {
  display: none !important;
}

.btn-submit {
  display: inline-block;
  width: 80%;
  border: none;
  padding: 1.8rem 1.2rem;
  background-image: linear-gradient(to right, rgba(32, 35, 59, 0.8), rgba(32, 35, 59, 0.8));
  color: #ffffff;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
@media (max-width: 28em) {
  .btn-submit {
    width: 95%;
  }
}
.btn-submit:hover, .btn-submit:active {
  cursor: pointer;
  background-image: linear-gradient(to right, rgba(229, 75, 109, 0.8), #e6584e);
  transform: translateY(-0.4rem);
}
.btn-submit:active {
  transform: translateY(-0.2rem);
}
@media (max-width: 48em) {
  .btn--success {
    width: 95%;
    margin-top: 12rem;
  }
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  position: relative;
}

.email-label, .email-input {
  display: inline-block;
}
.email-label {
  font-size: 1.2rem;
  font-weight: 700;
}
.email-input {
  width: 80%;
  border: none;
  outline: 1px solid #9294a0;
  padding: 1.6rem 1.2rem;
  border-radius: 12px;
}
@media (max-width: 28em) {
  .email-input {
    width: 95%;
  }
}
.email-input::placeholder {
  font-size: 1.4rem;
  color: #9294a0;
  font-weight: 500;
}
.email-input:hover, .email-input:focus {
  cursor: pointer;
  background-color: #fffff0;
  outline: 2px solid rgba(54, 56, 78, 0.8);
}
.email-input:invalid {
  outline: 2px solid #ff0000;
  background-color: #fffff0;
}

.invalid-email-text {
  color: #ff0000;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 20%;
}

.product-list {
  list-style: none;
  margin-bottom: 3rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.list-item:not(:last-child) {
  margin-bottom: 1rem;
}

.item--text {
  font-size: 1.4rem;
}

.success-icon {
  width: 6rem;
  height: 6rem;
}
.success-icon-box {
  margin-bottom: 3rem;
}
.success-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  color: #4a4c60;
  margin-bottom: 3rem;
}

.input-email {
  font-size: 1.6rem;
  font-weight: 700;
  color: #20233b;
}

.text-description {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 3rem;
}

.main-box {
  width: 60%;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0rem 1rem 2.4rem 0.4rem rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2.4rem;
}
@media (min-width: 100em) {
  .main-box {
    width: 85%;
  }
}
@media (max-width: 89em) {
  .main-box {
    width: 70%;
    gap: 1.2rem;
  }
}
@media (max-width: 72em) {
  .main-box {
    width: 85%;
    grid-template-columns: 1.5fr 1fr;
  }
}
@media (max-width: 57em) {
  .main-box {
    width: 95%;
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 48em) {
  .main-box {
    width: 80%;
    grid-template-rows: 1fr 1.2fr;
    grid-template-columns: auto;
    justify-items: stretch;
    align-items: stretch;
    padding: 0;
  }
}
@media (max-width: 34em) {
  .main-box {
    width: 90%;
    grid-template-rows: 0.8fr 1.3fr;
  }
}
.main--text-box {
  margin-block: 3.2rem;
  padding: 2.4rem;
}
@media (max-width: 48em) {
  .main--text-box {
    margin-block: 0;
    padding: 4rem;
    padding-top: 2rem;
    height: fit-content;
  }
}
.main--img-box {
  height: 100%;
}
@media (max-width: 48em) {
  .main--img-box {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.image--mobile {
  width: 100%;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #36384e;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 48em) {
  .main-container {
    height: auto;
  }
}

.success-box {
  width: 30%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 4rem 4rem;
}
@media (max-width: 72em) {
  .success-box {
    width: 40%;
  }
}
@media (max-width: 57em) {
  .success-box {
    width: 48%;
    padding: 4rem 2.5rem;
  }
}
@media (max-width: 48em) {
  .success-box {
    min-height: 100vh;
    width: 55%;
  }
}
@media (max-width: 34em) {
  .success-box {
    width: 65%;
  }
}
@media (max-width: 28em) {
  .success-box {
    width: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
