$breakpoints: (
    'sm-1': (max-width: 24em, ),
    // ~ 384px
    'sm-2': (max-width: 28em, ),
    // ~ 448px
    'md-1': (max-width: 34em, ),
    // ~ 544px
    'md-2': (max-width: 48em, ),
    // ~ 768px
    'lg': (max-width: 57em, ),
    // ~ 912px
    'xl': (max-width: 72em, ),
    // ~ 1150px
    '2xl': (max-width: 89em, ),
    // ~1420px
    '3xl': (min-width: 100em, ),
    // ~ 1600px 
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(type-of($raw-query)=='string',
            unquote($raw-query),
            inspect($raw-query));

        @media #{$query} {
            @content;
        }
    }

    @else {
        @error 'No value found for `#{$breakpoint}`. '
        (+'Please make sure it is defined in `$breakpoints` map.');
    }
}