/* COLOR VARIABLES */

$color-primary--dark : #e6584e;
$color-primary : #ff6257;
$color-primary--light : #ff7268;

/* NEUTRAL COLORS */

$color-dark-grey--darker: #20233b;
$color-dark-grey: #242742;
$color-dark-grey--lighter: #3a3d55;

$color-Charcoal-Grey--dark: #313246;
$color-Charcoal-Grey: #36384e;
$color-Charcoal-Grey--light: #4a4c60;

$color-Grey--dark: #838590;
$color-Grey: #9294a0;
$color-Grey--light: #9d9faa;

$color-White: #ffffff;
$color-black: #000000;