/* COLOR VARIABLES */

$color-primary--dark : #e6584e;
$color-primary : #ff6257;
$color-primary--light : #ff7268;

/* NEUTRAL COLORS */

$color-dark-grey--darker: #20233b;
$color-dark-grey: #242742;
$color-dark-grey--lighter: #3a3d55;

$color-charcoal-grey--dark: #313246;
$color-charcoal-grey: #36384e;
$color-charcoal-grey--light: #4a4c60;

$color-grey--dark: #838590;
$color-grey: #9294a0;
$color-grey--light: #9d9faa;

$color-white: #ffffff;
$color-black: #000000;