@use "../abstracts/" as *;
@use "../base/" as *;

.success-box {
    width: 30%;
    background-color: $color-white;
    border-radius: $border-radius--md;
    padding: 4rem 4rem;

    @include respond-to('xl') {
        width: 40%;
    }

    @include respond-to('lg') {
        width: 48%;
        padding: 4rem 2.5rem;
    }

    @include respond-to('md-2') {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}