@use "../abstracts/" as *;
@use "../base/" as *;

.input-field {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.email {

    &-label,
    &-input {
        display: inline-block;
    }

    &-label {
        font-size: 1.4rem;
        font-weight: 700;
    }

    &-input {
        width: 80%;
        border: none;
        outline: 1px solid $color-grey--light;
        padding: 1.6rem 1.2rem;
        border-radius: $border-radius--md;
    }
}