@use "../abstracts/" as *;
@use "../base/" as *;

.product-list {
    list-style: none;
}

.list-item {
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 1.2rem;

    &:not(:last-child) {
        margin-bottom: $margin-bottom--sm;
    }
}

.item--text {
    font-size: 1.4rem;
}