@use "../abstracts/" as *;

.heading {

    &--primary {

        font-size: 5.4rem;
        font-weight: 700;
        margin-bottom: $margin-bottom--md;

        @include respond-to('xl') {
            font-size: 4.8rem;
        }
    }

    &--secondary {
        font-size: 4.6rem;
        font-weight: 700;
        margin-bottom: $margin-bottom--lg;
        line-height: 1.2;
    }
}